{% extends "base.html" %}
{% block main %}
<body class="bg-gradient-primary">
<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <form id="loginForm" name="loginForm" class="user" method='post' action='/login'>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleInputUsername" placeholder="Enter Username...">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                  </div>
                  <a onclick="document.forms['loginForm'].submit(); return false;" 
                    class="btn btn-primary btn-user btn-block"
                    style="color: white">
                    Login
                  </a>
                </form>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    <script>flash_sweetalert2("{{ message  }}", "Authentication", 
                              "{{ category }}");</script>
  {% endfor %}
{% endif %}
{% endwith %}
</body>
{% endblock %}
