{% extends "base_dashboard.html" %}
{% block tables %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Containers and Virtual Machines</h1>
<p class="mb-4"></p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary"></h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            {% for field in fields %}
              <th>{{ field }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tfoot>
          <tr>
            {% for field in fields %}
              <th>{{ field }}</th>
            {% endfor %}
          </tr>
        </tfoot>
        <tbody>
          {% for vm in vms %}
            <tr>
              {% for field in fields %}
                {% if field == 'id' %}
                  <td><a href="/{{ vm['node'] }}/{{ vm['id'] }}">{{ vm[field] }}</a></td>
                {% else %}
                  <td>{{ vm[field] }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
