{% extends "base_dashboard.html" %}
{% block tables %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">{{ vm.id.split('/')[0].upper() }} {{
  vm.id.split('/')[1] }}: {{ vm.name }} | Node: {{ vm.node }}</h1>
<p class="mb-4">
JSON: {{ vm }}
<ul>
  <li>vmid: {{ vm.vmid }}</li>
  <li>type: {{ vm.type }}</li>
  <li>id: {{ vm.id }}</li>
  <li>name: {{ vm.name }}</li>
  <li>status: {{ vm.status }}</li>
  <li>node: {{ vm.node }}</li>
  <li>mem: {{ vm.mem }}</li>
  <li>maxmem: {{ vm.maxmem }}</li>
  <li>diskread: {{ vm.diskread }}</li>
  <li>diskwrite: {{ vm.diskwrite }}</li>
  <li>maxdisk: {{ vm.maxdisk }}</li>
  <li>cpu: {{ vm.cpu }}</li>
  <li>maxcpu: {{ vm.maxcpu }}</li>
  <li>uptime: {{ vm.uptime }}</li>
  <li>netin: {{ vm.netin }}</li>
  <li>netout: {{ vm.netout }}</li>
  <li>template: {{ vm.template }}</li>
</ul>
</p>

<!-- Content Row -->
<div class="row">

  <!-- Donut Chart -->
  <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3">
	<h6 class="m-0 font-weight-bold text-primary">Donut Chart</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
	<div class="chart-pie pt-4">
	  <canvas id="myPieChart"></canvas>
	</div>
	<hr>
	Styling for the donut chart can be found in the <code>/static/assets/js/proxmox/cpu.js</code> file.
      </div>
    </div>
  </div>

  <!-- Donut Chart -->
  <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3">
	<h6 class="m-0 font-weight-bold text-primary">Donut Chart</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
	<div class="chart-pie pt-4">
	  <canvas id="myPieChart"></canvas>
	</div>
	<hr>
	Styling for the donut chart can be found in the <code>/static/assets/js/proxmox/cpu.js</code> file.
      </div>
    </div>
  </div>

  <!-- Donut Chart -->
  <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3">
	<h6 class="m-0 font-weight-bold text-primary">CPU Usage</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
	<div class="chart-pie pt-4">
	  <canvas id="myProxmoxChartCPU"></canvas>
	</div>
	<hr>
	Styling for the donut chart can be found in the <code>/static/assets/js/proxmox/chart-pie-cpu.js</code> file.
      </div>
    </div>
  </div>

</div>
<script>
var cpu_used = {{ vm.cpu  }};
var cpu_available = {{ vm.maxcpu }} - {{ vm.cpu  }};
</script>
<script src="/static/assets/js/proxmox/chart-pie-cpu.js"></script>
{% endblock %}
