{% extends "base_dashboard.html" %}
{% block tables %}
<!-- Page Heading -->
<p class="mb-4">
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">
      {{ vm.type.upper() }} {{ vm.vmid }}: {{ vm.name }} | Node: {{ vm.node }}
    </h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      JSON: {{ vm }}
      <table style="margin-top: 15px !important" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <tbody>
          <tr>
            <td>mem: {{ vm.mem }}</td>
            <td>maxmem: {{ vm.maxmem }}</td>
            <td>disk: {{ vm.disk }}</td>
          </tr>
          <tr>
            <td>diskread: {{ vm.diskread }}</td>
            <td>diskwrite: {{ vm.diskwrite }}</td>
            <td>maxdisk: {{ vm.maxdisk }}</td>
          </tr>
          <tr>
            <td>cpu: {{ vm.cpu }}</td>
            <td>maxcpu: {{ vm.maxcpu }}</td>
            <td>uptime: {{ vm.uptime }}</td>
          </tr>
          <tr>
            <td>netin: {{ vm.netin }}</td>
            <td>netout: {{ vm.netout }}</td>
            {% if vm.status == 'running' %}
              <td>status: <span style='color: green'><u>{{ vm.status }}</u></span></td>
            {% elif vm.status == 'stopped' %}
              <td>status: <span style='color: red'><u>{{ vm.status }}</u></span></td>
            {% else %}
              <td>status: <u>{{ vm.status }}</u></td>
            {% endif %}
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</p>

<!-- Content Row -->
{% if vm.status == 'running' %}
<div class="row">

  <!-- Donut Chart -->
  <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3">
	<h6 class="m-0 font-weight-bold text-primary">Disk Usage</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
	<div class="chart-pie pt-4">
	  <canvas id="myProxmoxChartDisk"></canvas>
	</div>
	<hr>
	Styling for the donut chart can be found in the <code>/static/assets/js/proxmox/chart-pie-disk.js</code> file.
      </div>
    </div>
  </div>

  <!-- Donut Chart -->
  <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3">
	<h6 class="m-0 font-weight-bold text-primary">RAM Usage</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
	<div class="chart-pie pt-4">
	  <canvas id="myProxmoxChartMem"></canvas>
	</div>
	<hr>
	Styling for the donut chart can be found in the <code>/static/assets/js/proxmox/chart-pie-mem.js</code> file.
      </div>
    </div>
  </div>

  <!-- Donut Chart -->
  <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3">
	<h6 class="m-0 font-weight-bold text-primary">CPU Usage</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
	<div class="chart-pie pt-4">
	  <canvas id="myProxmoxChartCPU"></canvas>
	</div>
	<hr>
	Styling for the donut chart can be found in the <code>/static/assets/js/proxmox/chart-pie-cpu.js</code> file.
      </div>
    </div>
  </div>

</div>
<script>
var cpu_used = {{ vm.cpu  }};
var cpu_available = {{ vm.maxcpu }} - {{ vm.cpu  }};
var mem_used = {{ vm.mem  }};
var mem_available = {{ vm.maxmem }} - {{ vm.mem  }};
var disk_used = {{ vm.disk  }};
var disk_available = {{ vm.maxdisk }} - {{ vm.disk  }};
</script>
{% endif %}
{% endblock %}
